<h1>New User Registration:</h1>
<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>    
        <% end %>
    </ul>
<% end %>
<%= form_for @user do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <br />
    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <br />
    <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <br />
    <div>
        <%= f.submit "Create New User" %>
    </div>
<% end %>
