<!DOCTYPE html>
<html>
  <head>
    <title>Rails510app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path %> <br />
        <%= link_to "SignUp", new_user_path %>
      <% end %>
    </div>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
